.header-short {
	height: 400px;
	
	&.backsplash {
		min-height: 400px;
	}
}

header {
	height: 600px;
    padding-top: 25px;
    overflow: hidden;
    
    &.backsplash {
        width: 100%;
        min-height: 600px;
        overflow: hidden;
        animation: fadein 2s;
	    -moz-animation: fadein 2s; /* Firefox */
	    -webkit-animation: fadein 2s; /* Safari and Chrome */
	    -o-animation: fadein 2s; /* Opera */
        
        background-position: center center;
        background-size: cover;
	    background-repeat: no-repeat;
        
        background-image: url("/img/home.jpg");

        &.home {
            background-image: url("/img/home.jpg");
        }
        
        &.downloads {
            background-image: url("/img/downloads.jpg");
        }
        
        &.signup {
            background-image: url("/img/signup.jpg");
        }
        
        &.blog {
            background-image: url("/img/blog.jpg");
        }
        
        &.help {
            background-image: url("/img/help.jpg");
        }
        
        &.about {
            background-image: url("/img/about.jpg");
        }
    }
    
    .menu {
        font-weight: 700;
        letter-spacing: .1em;
        font-size: 18px;
        
        ul > li {
            line-height: 20px;
            padding: 0 0 3px 0;
            margin-left: 20px;
            margin-right: 20px;

            a {
                color: #fff;
                padding-left: 0;
                padding-right: 0;
                padding-bottom: 0;
                
                &:hover {
                    text-decoration: none;
                }
            }
            
            &.fork {
                line-height: 0;
                padding: 0;
                
                > iframe {
                    margin-top: 5px;
                }
                &.active,
                &:hover {
                    border: none;
                }

            }
            
            &.active,
            &:hover {
                border-bottom: solid 3px #fff;
            }
        }
    }
    
    .hero {
        margin-top: 20px;
        height: 348px;
        z-index: 60;
        position: relative;
        text-align: center;
        color: #fff;
        
        h1, h2, h3, h4, h5, h6 {
			color: #fff;
		}
        
        h1 {
            font-size: 90px;
            line-height: 90px;
            letter-spacing: .3em;
            text-align: center;
            animation-delay:2s;
			animation: fadein 1s;
			-moz-animation: fadein 1s; /* Firefox */
			-webkit-animation: fadein 1s; /* Safari and Chrome */
			-o-animation: fadein 1s; /* Opera */
			text-transform: uppercase;
        }
        
        h1.small-headline {
	        font-size: 50px;
	        line-height: 60px;
	        
	        .heart {
		        margin: -7px 15px 0 0;
	        }
        }
        
        .parent-links {
	        letter-spacing: .2em;
        }
        
        .hero-tagline {
            margin: 10px auto 30px;
            text-align: center;
            font-family: @font-family-serif;
            font-size: 20px;
            color: #fff;
            font-style: italic;
            line-height: 30px;
            letter-spacing: 1px;
            width: 75%;
            font-weight: bold;
            animation-delay:2.5s;
            animation: fadein 1s;
			-moz-animation: fadein 1s; /* Firefox */
			-webkit-animation: fadein 1s; /* Safari and Chrome */
			-o-animation: fadein 1s; /* Opera */

        }
        
        .download {
	        font-size: 20px;
	        letter-spacing: .3em;
	        padding: 8px 15px 8px 20px;
	        margin-bottom: 30px;
            animation-delay:2s;
            animation: fadein 1s;
			-moz-animation: fadein 1s; /* Firefox */
			-webkit-animation: fadein 1s; /* Safari and Chrome */
			-o-animation: fadein 1s; /* Opera */
        }
        
        .github {
	        color: #fff;
	        font-size: 15px;
            animation-delay:2s;
            animation: fadein 1s;
			-moz-animation: fadein 1s; /* Firefox */
			-webkit-animation: fadein 1s; /* Safari and Chrome */
			-o-animation: fadein 1s; /* Opera */
        }
    }
}



@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}



/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
	header {
	
		height: 400px;
		
		&.backsplash {
			min-height: 400px;
		}
	
		.hero {
			h1 {
				font-size: 50px;
				line-height: 50px;
			}
			.download {
				font-size:15px;
			}
		}
	} 

}
