@footerHeight: 190px;
@footerPaddingTop: 26px;
@footerBackground: #1c1816;

html,
body {
    height: 100%;
}

section {
	margin-bottom: 70px;
}

#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -@footerHeight;
}

#push {
    height: @footerHeight;
}

footer {
    height: @footerHeight;
    padding-top: @footerPaddingTop;
    background-color: @footerBackground;
    color: #685b53;
    font-size: 15px;
    
    h4 {
    	font-size: 20px;
    	font-weight: normal;
        color: #685b53;
    }
    .trademark {
	    font-size: 12px;
    }
}

.post img {
	margin: 10px 0 20px;
}

.brown {
	color: #7c6a60;
}

.tan {
	color: #d2c4bd;
}

.white {
	color: #fff;
}

.left-nav {
	font-size: 15px;
	margin-bottom: 30px;
	
}

.bottom-ruled {
	padding-bottom: 50px;
	margin-bottom: 50px;
	border-bottom: 1px solid #3e3936;
}

.container {
    .main {
        padding: 0 50px;
    }
    
    &.content-container {
        margin-top: 50px;
        margin-bottom: 50px;
    }
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {

}

/* Home */
.share-bar {
    background: #201b19;
    height: 50px;
    padding: 15px 0;
    text-align: center;
    border-bottom: solid 1px #2c2522;
}

.home-featured-in {
    text-align: center;
    background: #2e2724;
    padding: 20px 0;
    color: #959494;
    
    .home-press {
        margin: 15px auto;
        
        li {
            padding: 0 25px;
        }
    }
}

.box {
    background: #302925;
    border-radius: @border-radius-base;
    text-align: center;
    padding: 35px 20px;
    margin-bottom: 50px;
    
    h1, h2, h3 {
        margin-top: 0;
    }
    
    &.last {
        margin-bottom: 0;
    }
    
    .btn {
        min-width: 125px;
    }
}

/* Blog */
.post-index {
    margin-bottom: 75px;
}

.post-date {
    margin: 10px 0;
    color: #765d43;
    font-size: 13px;
}

.about-intro {
	font-size: 20px;
	line-height: 30px;
	font-weight: bold;
}

.author-info {

    margin-top: 22px;
    width: 140px;
    height: 140px;
    background: #302925; 
    -moz-border-radius: 70px; 
    -webkit-border-radius: 70px; 
    border-radius: 70px;
    text-align: center;
    padding: 40px 20px;
}

.author-name {
    margin: 0 auto;
    font-size: 20px;
    color: #b76133;
    line-height: 20px;
}

.author-url a {
    font-size: 15px;
    .tan()
}