<footer>
    <div class="container">
        <h4>Provided by Tier 3</h4>
        <p>Iron Foundry is a project initiated by <a href="http://www.tier3.com">Tier 3</a>, an enterprise cloud computing and hosting platform.</p>
        <p class="trademark"><a href="http://www.cloudfoundry.com" target="_blank">Cloud Foundry</a> and <a href="https://micro.cloudfoundry.com" target="_blank">Micro Cloud Foundry</a> are trademarks of <a href="http://pivotallabs.com" target="_blank">Pivotal Labs</a> in the United States and/or other jurisdictions.</p>
    </div>
</footer>

<script src="/javascripts/jquery-2.0.3.min.js"></script>
<script src="/javascripts/bootstrap.js"></script>