<div class="navbar">
  <div class="container">
  	<!-- .navbar-toggle is used as the toggle for collapsed navbar content -->
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <div class="navbar-brand"><a href="/"><img src="/img/logo-ironfoundry.png" alt="Iron Foundry" /></a></div>
    <div class="nav-collapse collapse navbar-responsive-collapse">
      <ul class="nav navbar-nav menu pull-right">
          {% for link in site.navigation %}
            {% assign current = nil %}
            {% if page.url == link.url or page.layout == link.layout %}
              {% assign current = 'active' %}
            {% endif %}

            <li class="{{ current }}">
              <a href="{{ link.url }}">{{ link.text }}</a>
            </li>
          {% endfor %}
          <li class="fork"><iframe src="http://ghbtns.com/github-btn.html?user=IronFoundry&repo=IronFoundry&type=fork&size=large" allowtransparency="true" frameborder="0" scrolling="0" width="81" height="31"></iframe></li>
      </ul>
    </div>
  </div>
</div>