---
layout: blog
title: Blog
---

<div class="row">
    <div class="col-lg-10">
        {% for post in paginator.posts %}
            <div class="row post-index">
                <div class="col-lg-3">
                    <div class="author-info blog">
                        <div class="author-name">
                            {% if page.author %}
                                {{ page.author }}
                            {% else %}
                                Tier 3
                            {% endif %}
                        </div>
                        {% if post.twitter %}
                            <div class="author-url"><a href="http://www.twitter.com/{{ post.twitter }}">@{{ post.twitter }}</a></div>
                        {% endif %}
                    </div>
                </div>
                <div class="col-lg-7">
                    <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
                    <div class="post-date">
                        Posted in {% for tag in post.categories %}{{ tag }}, {% endfor %} &#183; {{ post.date | date: "%B %d, %Y" }}
                    </div>
                    <p>{{ post.excerpt }}</p>
                    <a href="{{ post.url }}">Read More</a>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="col-lg-2">
        {% include tags.html %}
    </div>
</div>

<hr />

<div class="row">    
    <div class="col-lg-6">
    {% if paginator.previous_page %}
        {% if paginator.previous_page == 1 %}
            <a href="/blog">newer posts</a>
        {% else %}
            <a href="/blog/page{{ paginator.previous_page }}">newer posts</a>
        {% endif %}
    {% endif %}
    </div>

    <div class="col-lg-6 text-right">
    {% if paginator.next_page %}
        <a href="/blog/page{{ paginator.next_page }}">older posts</a>
    {% endif %}
    </div>
</div>

<hr />