<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ page.title }} - Iron Foundry</title>
    {% include header_meta.html %}
</head>

<body>

<div id="wrap">
    <header class="header-short">
        <div class="backsplash blog">
        </div>
        <div class="container menu">
            {% include menu.html %}
        </div>
        <div class="container">
            <div class="row hero">
                <h1 class="text-center">BLOG</h1>
            </div>
        </div>
    </header>
        
    <div class="container content-container">
        {{ content }}
    </div>
    
    <div id="push"></div>
</div>
    
{% include footer.html %}

</body>
</html>