<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% if page.title %}{{ page.title }} - {% endif %}Iron Foundry</title>
    {% include header_meta.html %}
</head>

<body>

<div id="wrap">
    <header class="header-short">
        <div class="backsplash {{page.heroImage}}">
        </div>
        <div class="container menu">
            {% include menu.html %}
        </div>
        <div class="container">
            <div class="row hero">
            	{% if page.title == "About" %}
                <h1 class="text-center about-headline">{{ page.tagline }}</h1>
                {% else %}
                <h1 class="text-center">{{ page.tagline }}</h1>
                {% endif %}
                {% if page.caption %}
                    <div class="hero-tagline">{{ page.caption }}</div>
                {% endif %}
            </div>
        </div>
    </header>
        
    <div class="container content-container">
        {{ content }}
    </div>
    
    <div id="push"></div>
</div>
    
{% include footer.html %}

</body>
</html>