<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% if page.title %}{{ page.title }} - {% endif %}Iron Foundry</title>
    {% include header_meta.html %}
</head>

<body>

<div id="wrap">
    <header class="header-short backsplash help">
        <div class="container menu">
            {% include menu.html %}
        </div>
        <div class="container">
            <div class="row hero">
                <div class="parent-links"><a href="/help.html">{{ page.tagline }}</a></div>
                <h1 class="text-center small-headline">{{ page.title }}</h1>
            </div>
        </div>
        <div class="container photo-credit hidden-xs">
            <div class="photo-author">photo by {{page.photo_credit}}</div>
        </div>
    </header>
        
    <div class="container content-container">
		<div class="row">
			<div class="col-lg-2">
			</div>
		    <div class="col-lg-8">
		    	{{ content }}
		    </div>
		</div>
    </div>
    
    <div id="push"></div>
</div>
    
{% include footer.html %}

</body>
</html>
