---
layout: blog
photo_credit: Nathan Young
---

<div class="row">
    <div class="col-lg-10">
        <div class="row">
            <div class="col-lg-3">
            	<div class="author-info pull-right">
                    <div class="author-name">
                        {% if page.author %}
                            {{ page.author }}
                        {% else %}
                            Iron Foundry
                        {% endif %}
                    </div>
                    {% if page.twitter %}
                        <div class="author-url"><a href="http://www.twitter.com/{{ page.twitter }}" target="_blank">@{{ page.twitter }}</a></div>
                    {% endif %}
            	</div>
            </div>
            <div class="col-lg-7 post">
            	
            	
                <h2>{{ page.title }}</h2>
                <div class="post-date">
                    <p>Posted in {% for tag in page.categories %}{{ tag }}, {% endfor %} &#183; {{ page.date | date: "%B %d, %Y" }}</p>
                </div>
                {{ content }}
            </div>
        </div>
    </div>
    <div class="col-lg-2">
        {% include tags.html %}
    </div>
</div>