---
layout: blog
---

<div class="row">
    <div class="col-lg-9">
        <div class="row">
            <div class="col-lg-2">
            	<div class="author-info">
                    <div class="author-name">
                        {% if page.author %}
                            {{ page.author }}
                        {% else %}
                            Tier 3
                        {% endif %}
                    </div>
                    {% if page.twitter %}
                        <div class="author-url"><a href="http://www.twitter.com/{{ post.twitter }}">@{{ page.twitter }}</a></div>
                    {% endif %}
            	</div>
            </div>
            <div class="col-lg-10">
                <h2>{{ page.title }}</h2>
                <span>{{ post.date }}</span>
                {{ content }}
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        
    </div>
</div>